.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 40%;
   height: 2rem;
}
ul{
    width: 40%;
    list-style: none;
    border: 1px solid gray;
    padding: 2px;
    margin-top: 1px;
   
}

li{
    padding: 2px;
    margin: 2px;
    border-bottom: 1px solid lightgray;
}

li:last-child{
    border-bottom: none
}

.disp{
    display: none;
}
